.page {
	width: 100%;
	height: 700px;
}
.nav1__content {
	width: 100%;
	margin-top: 100px;
	display: flex;
}
.nav1__about-marketing {
	background: url(../img/main/background__nav1.png) left top no-repeat;
	padding: 15px 0 0 32px;
	max-width: 50%;
	margin-right: 10%;
	margin-top: 120px;
}
.title {
	max-width: 505.93px;
	font-family: "Poppins";
	font-weight: 500;
	font-size: 51.2px;
	line-height: 61px;
	align-items: center;
	color: #ffffff;
	padding: 0px 0 28px 0;
}
.text {
	max-width: 490.93px;
	font-family: "Poppins";
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
	align-items: center;
	color: #9c9c9c;
	padding: 0 0 33px 0;
}
.nav1__buttons {
	display: flex;
	flex-direction: row;
}
.about-marketing__button1 {
	margin-right: 16px;
	width: 160px;
	height: 52px;
	background-color: #3d96f4;
	border-radius: 50px;
	font-family: "Poppins";
	font-weight: 500;
	line-height: 22px;
	align-items: center;
	text-align: center;
	letter-spacing: 2px;
	color: #ffffff;
	transition: background-color 0.3s ease 0s;
}
.about-marketing__button1:hover {
	background-color: #1f68b6;
}
.about-marketing__button2 {
	margin-left: 16px;
	width: 160px;
	height: 52px;
	background-color: rgba(129, 129, 139, 0.2);
	border-radius: 50px;
	font-family: "Poppins";
	font-weight: 500;
	line-height: 22px;
	align-items: center;
	text-align: center;
	letter-spacing: 2px;
	color: #ffffff;
	transition: background-color 0.3s ease 0s;
}
.about-marketing__button2:hover {
	background-color: rgba(205, 205, 217, 0.2);
}
.nav1__images {
	max-width: 50%;
	display: flex;
	flex-direction: row;
}
.nav1__images-galery1 {
	margin: 0 30px 0 0;
}
.images-galery1__image1 {
	margin: 0 0 16px 0;
}
.images-galery1__image2 {
	margin: 16px 0 0 0;
}
.nav1__images-galery2 {
	margin: 0 0 0 16px;
}
.images-galery2__image1 {
	margin: 0 0 16px 0;
}
.images-galery2__image2 {
	margin: 16px 0 0 0;
}
/* RESPONSIVE */
@media (max-width: 1352px) {
	.nav1__content {
		flex-direction: column;
	}
	.nav1__about-marketing {
		max-width: 100%;
	}
	.nav1__images {
		max-width: 100%;
	}
	.title {
		max-width: 100%;
	}
	.text {
		max-width: 100%;
	}
	.nav1__images-galery1 {
		flex-direction: row-reverse;
		display: flex;
	}
	.nav1__images-galery2 {
		flex-direction: row-reverse;
		display: flex;
	}
	.nav1__images-galery1 {
		margin-right: 5px;
	}
	.images-galery1__image1 {
		margin: 0 0 16px 5px;
	}
	.images-galery2__image2 {
		margin: 0 5px 16px 0;
	}
	.nav1__images {
		display: none;
	}
}
/* @media (max-width: 1252px) {
	.nav1__images {
		display: none;
	}
} */
/* SERVICES PAGE */
.services__content {
	margin-top: 33px;
	display: flex;
}
.services__text {
	width: 50%;
	margin-top: 220px;
}
.services__about-box1 {
	margin-right: 32px;
}

.services__text-title {
	font-family: "Poppins";
	font-weight: 500;
	font-size: 51.2px;
	line-height: 61px;
	align-items: center;
	color: #ffffff;
	padding-bottom: 12px;
}
.services__text-text {
	max-width: 490.93px;
	font-family: "Poppins";
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
	align-items: center;
	color: #9c9c9c;
	padding-bottom: 33px;
}
.services__text-button {
	width: 160px;
	height: 52px;
	background-color: #3d96f4;
	border-radius: 50px;
	font-family: "Poppins";
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	align-items: center;
	text-align: center;
	letter-spacing: 2px;
	color: #ffffff;
	transition: background-color 0.3s ease 0s;
}
.services__text-button:hover {
	background-color: #1f68b6;
}
.services__about {
	display: flex;
	width: 50%;
}
.box1__content1 {
	margin-top: 48px;
	background-color: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
	margin-bottom: 32px;
}
.box1__content1-icon {
	padding-top: 55px;
	padding-bottom: 16px;
	padding-left: 25px;
}
.box1__content1-title {
	padding-bottom: 10px;
	font-family: "Poppins";
	font-weight: 400;
	font-size: 19.2px;
	line-height: 27px;
	align-items: center;
	color: #ffffff;
	padding-left: 25px;
}
.box1__content1-text {
	font-family: "Poppins";
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	align-items: center;
	color: #81818b;
	padding-bottom: 60px;
	padding-left: 25px;
}
.box1__content2 {
	background-color: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
}
.box1__content2-icon {
	padding-top: 55px;
	padding-bottom: 16px;
	padding-left: 25px;
}
.box1__content2-title {
	padding-bottom: 10px;
	font-family: "Poppins";
	font-weight: 400;
	font-size: 19.2px;
	line-height: 27px;
	align-items: center;
	color: #ffffff;
	padding-left: 25px;
}
.box1__content2-text {
	font-family: "Poppins";
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	align-items: center;
	color: #81818b;
	padding-bottom: 60px;
	padding-left: 25px;
}

.box2__content1-icon {
	padding-top: 55px;
	padding-bottom: 16px;
	padding-left: 25px;
}
.box2__content1-title {
	padding-bottom: 10px;
	font-family: "Poppins";
	font-weight: 400;
	font-size: 19.2px;
	line-height: 27px;
	align-items: center;
	color: #ffffff;
	padding-left: 25px;
}
.box2__content1-text {
	font-family: "Poppins";
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	align-items: center;
	color: #81818b;
	padding-bottom: 60px;
	padding-left: 25px;
}

.box2__content1 {
	background-color: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
	margin-bottom: 32px;
}
.box2__content2 {
	background-color: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
}
.box2__content2-icon {
	padding-top: 55px;
	padding-bottom: 16px;
	padding-left: 25px;
}
.box2__content2-title {
	padding-bottom: 10px;
	font-family: "Poppins";
	font-weight: 400;
	font-size: 19.2px;
	line-height: 27px;
	align-items: center;
	color: #ffffff;
	padding-left: 25px;
}
.box2__content2-text {
	padding-bottom: 60px;
	font-family: "Poppins";
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	align-items: center;
	color: #81818b;
	padding-left: 25px;
}
@media (max-width: 1135px) {
	.services__content {
		flex-direction: column;
	}
	.services__text {
		margin: 40px auto;
	}
	.services__about {
		margin: 40px auto;
	}
}
@media (max-width: 695px) {
	.services__about {
		flex-direction: column;
	}
	.services__about-box2 {
		margin-top: 32px;
	}
}
@media (max-width: 487px) {
	.services__about {
		width: 100%;
		margin: 40px 0;
	}
	.services__text {
		width: 100%;
		margin: 40px 0;
	}
	.services__content {
		height: 2100px;
	}
}
/* ABOUT PAGE */
.about__conteiner {
	margin-top: 40px;
	width: 100%;
	display: flex;
}
.about__images {
	margin-right: 84px;
	background: url(../img/about/background.png) left bottom no-repeat;
	display: flex;
	width: 50%;
	position: relative;
}
.about__images-image2 {
	position: absolute;
	right: 0;
	bottom: 0;
}
.about__text {
	width: 50%;
}
.about__text-title {
	font-family: "Poppins";
	font-weight: 500;
	font-size: 51.2px;
	line-height: 61px;
	align-items: center;
	color: #ffffff;
	padding-bottom: 40px;
}
.about__text-text {
	max-width: 490.93px;
	font-family: "Poppins";
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
	align-items: center;
	color: #9c9c9c;
	padding-bottom: 35px;
}
.about__text-ul ul {
	background: url(../img/about/icon__ul.png) left center no-repeat;
	font-family: "Poppins";
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	align-items: center;
	color: #9c9c9c;
	padding-left: 40px;
	height: 32px;
}
.about__text-ul ul:not(:last-child) {
	margin-bottom: 21px;
}
@media (max-width: 1249px) {
	.about__images-image2 {
		display: none;
	}
}
@media (max-width: 770px) {
	.about__images {
		display: none;
	}
	.about__text {
		width: 100%;
	}
	.about__conteiner {
		margin-top: 60px;
		margin-left: 20px;
		margin-bottom: 40px;
	}
	.about__text-title {
		max-width: 600px;
	}
}
@media (max-width: 582px) {
	.about__text-title {
		max-width: 500px;
	}
}
@media (max-width: 512px) {
	.about__text-title {
		max-width: 400px;
	}
	.about__text-text {
		max-width: 400px;
	}
	.about__conteiner {
		margin-left: 0px;
		height: 2200px;
	}
}
